<%- include('./partials/header.ejs') %>
<ol>
  <% data.list.forEach((row) => { %>
    <li><%= new Date(row.timestamp).toLocaleString() %></li>
  <% }) %>
</ol>
<%- include('./partials/footer.ejs') %>
